<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-10" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Events Made Easy</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li> <!-- Creates a link to the home page with the text "Home" -->
                    <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li> <!-- Creates a link to the about page with the text "About" -->
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li> <!-- Creates a link to the contact page with the text "Contact" -->
                    <li>@Html.ActionLink("Events", "Events_Lists", "Events", new { area = "" }, new { @class = "nav-link" })</li> <!-- Creates a link to the booking list page with the text  List" -->
                    <li>@Html.ActionLink("Checkout", "ViewCart", "Events", new { area = "" }, new { @class = "nav-link" })</li> <!-- Creates a link to the cart page with the text "Cart" -->
                    <li>@Html.ActionLink("Reviews", "Review", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Survey Form", "Survey", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<style>
    /* Add custom CSS to ensure the navbar is always on top */
    .navbar {
        height: 60px; /* Set your desired height */
        z-index: 1000; /* Set a high z-index value */
        width: 100%; /* Ensure the navbar spans the entire width */
    }
</style>